{% extends "hflanTournamentBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} - {% trans %}tournament.title.page.tournament.edit{% endtrans %}
{% endblock %}

{% block sectionTitle %}
{{ tournament.name }} <small>{% trans %}tournament.title.page.tournament.edit{% endtrans %}</small>
{% endblock%}

{% block administration %}
<h2>{% trans %}tournament.title.aside.admin{% endtrans %}</h2>
<a href="{{ path('hflan_tournament_show_tournament', {slug: tournament.event.slug, id: tournament.id}) }}" class="btn">
    <i class="icon-remove icon-white"></i> {% trans %}tournament.action.cancel{% endtrans %}
</a>
<hr>
{% endblock %}

{% block content %}

<form method="post" {{ form_enctype(form) }} class="form form-label-large">
    {{ form_widget(form) }}
    <div class="form-action">
        <button type="submit" class="btn"><i class="icon-ok icon-white"></i> {% trans %}tournament.action.save{% endtrans %}</button>
    </div>
</form>

{% endblock %}