{% extends "hflanTournamentBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} - {% trans %}tournament.title.page.tournament.new{% endtrans %}
{% endblock %}

{% block sectionTitle %}
{{ parent() }} <small>{% trans %}tournament.title.page.tournament.new{% endtrans %}</small>
{% endblock%}

{% block administration %}
    <h2>{% trans %}tournament.title.aside.admin{% endtrans %}</h2>
        <a href="{{ path('hflan_tournament_show_event', {slug: event.slug}) }}" class="btn">
            <i class="icon-remove icon-white"></i> {% trans %}tournament.action.cancel{% endtrans %}
        </a>
    <hr>
{% endblock %}

{% block content %}

<form method="post" {{ form_enctype(form) }} class="form form-label-large">
    {% if type == 'casu' %}
        {{ form_widget(form) }}
    {% else %}
        {{ form_row(form.name) }}
        {{ form_row(form.game) }}
        {{ form_row(form.nbrTeams) }}
        {{ form_row(form.playersPerTeam) }}
        {{ form_row(form.price) }}
        {{ form_row(form.embeddedPlayer) }}
        {{ form_label(form.customFields) }}
        <div class="form-widget" data-prototype="&lt;div class=&quot;embedded-form&quot;>&lt;a class=&quot;del-btn&quot;>x&lt;/a>{{ form_widget(form.customFields.vars.prototype)|e }}&lt;/div>">
            {{ form_errors(form.customFields) }}
            {% for field in form.customFields %}
            <div class="embedded-form">
                <a class="del-btn">x</a>
                {{ form_widget(field) }}
            </div>
            {% endfor %}
            <a class="btn" data-action="add-embedded-form"><i class="icon-plus icon-white"></i> {% trans %}tournament.action.add{% endtrans %}</a>
        </div>
        {% if form.customFields is empty %}
            {{ form_widget(form.customFields)}}
        {% endif %}
        {{ form_rest(form) }}
    {% endif %}
    <div class="form-action">
        <button type="submit" class="btn"><i class="icon-ok icon-white"></i> {% trans %}tournament.action.save{% endtrans %}</button>
    </div>
</form>

{% endblock %}