{% extends "hflanRegistrationBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} - {% trans %}tournament.title.page.register.edit{% endtrans %}
{% endblock %}

{% block sectionTitle %}
{{ app.user.team.name }} <small>{% trans %}tournament.title.page.register.edit{% endtrans %}</small>
{% endblock%}

{% block administration %}
{% endblock %}

{% block content %}

<h2>{% trans %}tournament.title.page.register.info{% endtrans %}</h2>

<table class="table">
    <tr>
        <th>{% trans %}tournament.field.game{% endtrans %}</th>
        <th>{% trans %}tournament.field.playersPerTeam{% endtrans %}</th>
        <th>{% trans %}tournament.field.price{% endtrans %}</th>
        <th>{% trans %}tournament.field.prize_pool{% endtrans %}</th>
    </tr>
    <tr>
        <td>{{ tournament.game }}</td>
        <td>{{ tournament.playersPerTeam }}</td>
        <td>{{ tournament.price }} €</td>
        <td>{{ tournament.prizePool }} €</td>
    </tr>
</table>

<p></p>

<table class="table">
    <tr>
        <th>{% trans %}tournament.field.single_entry{% endtrans %}</th>
        <th>{% trans %}tournament.field.pricePerPlayer{% endtrans %}</th>
        <th>{% trans %}tournament.field.total_team{% endtrans %}</th>
    </tr>
    <tr>
        <td>{{ tournament.event.price }} €</td>
        <td><span style="color:#898989">{{ tournament.event.price }} € + {{ tournament.price }} € =</span> {{ tournament.event.price+tournament.price }} €</td>
        <td>{{ (tournament.event.price+tournament.price)*tournament.playersPerTeam }} €</td>
    </tr>
</table>

<hr>

<h2>{% trans %}tournament.title.page.register.edit{% endtrans %}</h2>

<form method="post" class="form form-label-large">

    {{ form_label(teamForm.name) }}
    <div class="form-widget">
        {{ form_widget(teamForm.name) }}
        <button type="submit" class="btn"><i class="icon-ok icon-white"></i> {% trans %}register.action.save{% endtrans %}</button>
    </div>

</form>

{% for player in team.players %}
    <div class="embedded-form" style="padding: 10px;">
        <div>
            <p>
                {% trans %}tournament.field.firstname{% endtrans %} :
                {{ player.firstname }} <br>
                {% trans %}tournament.field.lastname{% endtrans %} :
                {{ player.lastname }} <br>
                {% trans %}tournament.field.nickname{% endtrans %} :
                {{ player.nickname }} <br>
                {% trans %}tournament.field.email{% endtrans %} :
                {{ player.email }} <br>
                {% trans %}tournament.field.birthday{% endtrans %} :
                {{ player.birthday|toDate }} <br>
                {% trans %}tournament.field.pcType{% endtrans %} :
                {{ player.pcType }} <br>
            </p>
        </div>
        <div>
            hello
        </div>
    </div>
{% endfor %}

{% endblock %}