{% extends "hflanBlogBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} - {% trans %}blog.title.page.index{% endtrans %}
{% endblock %}

{% block sectionTitle %}
        {{ parent() }} <small>{% trans %}blog.title.page.index{% endtrans %}</small>
{% endblock%}

{% block administration %}
    {% if is_granted('ROLE_NEWSER') %}
        <h2>{% trans %}blog.title.aside.admin{% endtrans %}</h2>
        <a href="{{ path('hflan_blog_new') }}" class="btn"><i class="icon-plus icon-white"></i> {% trans %}blog.action.new{% endtrans %}</a>
        <a href="{{ path('hflan_blog_admin') }}" class="btn"><i class="icon-th-list icon-white"></i> {% trans %}blog.action.list{% endtrans %}</a>
        <hr>
    {% endif %}
{% endblock %}

{% block blog %}

{% if articles is empty %}
<p>{% trans %}blog.message.no_article{% endtrans %}</p>
{% endif %}

{% for article in articles %}
        <div class="date"><span>{{ article.createdAt|date('d') }}</span> {{ article.createdAt|date('M') }}</div>

        {% if is_granted('ROLE_NEWSER') %}
        <div class="date settings">
            <a href="#" rel="dropdown-toogle"><i class="icon-cog icon-white"></i></a>
            <div class="dropdown">
                <ul>
                    <li><a href="{{ path('hflan_blog_edit', {slug: article.slug}) }}">
                        <i class="icon-pencil"></i>{% trans %}blog.action.edit{% endtrans %}
                    </a></li>
                    <li><a href="{{ path('hflan_blog_toggle', {slug: article.slug}) }}">
                        <i class="icon-eye-close"></i>{% trans %}blog.action.hide{% endtrans %}
                    </a></li>
                    <li class="separator"></li>
                    <li><a href="{{ path('hflan_blog_delete', {slug: article.slug}) }}">
                        <i class="icon-remove-sign"></i>{% trans %}blog.action.delete{% endtrans %}
                    </a></li>
                </ul>
            </div>
        </div>
        {% endif %}

        <h2>{{ article.title }}</h2>
        <p>{{ article.content|toPlainText(200) }}</p>
        <a class="btn-mini pull-right" href="{{ path('hflan_blog_show', { 'slug': article.slug }) }}">{% trans %}blog.action.read_more{% endtrans %}</a>
        <div style="clear: both;"></div>
        <hr>
{% endfor %}

{{ pagination(page, nb_pages, 'hflan_blog_list') }}

{% endblock %}